<div class="form-group">
    <label for="username">Пользователь</label>
    <input type="text"
        name="username"
        class="form-control"
        id="username"/>
</div>

<div class="form-group">
    <label for="comment">Комментарий</label>
    <textarea type="text"
        rows="3"
        name="comment"
        class="form-control"
        id="comment"></textarea>
</div>
<div class="form-group text-right">
    <button id="comment-send-button" type="submit" class="btn btn-primary">Отправить</button>
</div>